@model List<BaitapLon.Models.DonHang>
@{
    List<DanhMuc> dm = (List<DanhMuc>)ViewData["DanhMuc"];
    User user = (User)ViewData["User"];
}
<div class="header-top">
    <div class="container">
        <div class="row">
            <!-- HEADER-LEFT-MENU START -->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="header-left-menu">
                    <nav>
                        <ul class="list-inline">
                            @if (user == null)
                            {
                                <li><a href=@Url.ActionLink("Login","Users") style="color:#ffffff">Dang nhap</a></li>
                            }
                            else
                            {
                                @if (user.Admin == 1)
                                {
                                    <li><a href=@Url.ActionLink("QLDonHangAD","DonHangs") style="color:#ffffff">Quan ly don hang</a></li>
                                    <li><a href=@Url.ActionLink("Index","QLSanPham") style="color:#ffffff">Quan ly san pham</a></li>
                                    <li><a href=@Url.ActionLink("Logout","Users") style="color:#ffffff">Dang xuat</a></li>
                                }
                                @if (user.KhachHang == 1)
                                {
                                    <li><a style="color:#ffffff">Quan ly don hang</a></li>

                                    <li><a href=@Url.ActionLink("Logout","Users") style="color:#ffffff">Dang xuat</a></li>
                                }
                            }
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- HEADER-LEFT-MENU END -->

        </div>
    </div>
</div>
<header class="main-menu-area">
    <div class="container" style="margin-left:-15px">
        <div class="row">
            <!-- SHOPPING-CART START -->
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 pull-right shopingcartarea" style="padding-left:-20px">
                <div class="shopping-cart-out pull-right">
                    <div class="shopping-cart" style="margin-right:20px">
                        <a class="shop-link" href=@Url.ActionLink("Index","Cart") title="View my shopping cart">
                            <i class="fa fa-shopping-cart cart-icon"></i>
                            <b>My Cart</b>
                            <span></span>
                        </a>

                    </div>
                </div>
            </div>
            <!-- SHOPPING-CART END -->
            <!-- MAINMENU START -->
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 no-padding-right menuarea">
                <div class="mainmenu">
                    <nav>
                        <ul class="list-inline mega-menu">
                            <li class="active">
                                <a href=@Url.ActionLink("Index","SanPhams")>Home</a>
                            </li>
                            @foreach (DanhMuc o in dm)
                            {
                                <li class="active">
                                    <a href=@Url.ActionLink("DanhMucDetail","SanPhams", new {id = o.ID})>@o.TenDanhMuc</a>
                                </li>
                            }
                        </ul>
                    </nav>

                </div>
            </div>
            <!-- MAINMENU END -->
        </div>

    </div>
</header>
<div class="container-lg">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2>Don <b>Hang</b></h2></div>
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Ten</th>
                        <th>So Dien Thoai</th>
                        <th>Dia Chi</th>
                        <th>Trang Thai</th>
                        <th>Tong Tien</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (DonHang item in Model)
                    {
                        <tr>
                            <td>@item.TenKhachHang</td>
                            <td>@item.SDT</td>
                            <td>@item.DiaChi</td>
                            <td>@item.TrangThai</td>
                            <td>@item.TongTien</td>
                            <td>
                                <a href=@Url.ActionLink("ChiTietDonHang","DonHangs", new {id = item.ID}) class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">remove_red_eye</i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
